<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Тег table</title>
 </head>
 <body>
<style>
form {
  text-align: center;
}
   table {
    width: 300px; /* Ширина таблицы */
    border: 1px solid green; /* Рамка вокруг таблицы */
    margin: auto; /* Выравниваем таблицу по центру окна  */
   }
   td {
    text-align: center; /* Выравниваем текст по центру ячейки */
   }
  </style>
 <div>
  <table border="1">
   <tr>
    <th>ID</th>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Должность</th>
    <th>изменить?</th>
   </tr>
   {% for i in range(content|length) %}
   <tr>
   <td>{{content[i][0]}}</td>
   <td>{{content[i][1]}}</td>
   <td>{{content[i][2]}}</td>
   <td>{{content[i][3]}}</td>
   <td>
   <form action='home/database_write/{{i}}' method="GET">
   <input type="submit" class="btn btn-dark" value="изменить данные">
   </form>
   </td>
   </tr>
   {% endfor %}
 </table>
 

<form action='home/database_read/' method="get">
<input type="submit" class="btn btn-dark" value="добавить данные">
</form>

<form action='home/export/' method="post">
<input type="submit" class="btn btn-dark" value="экспорт формы">
 </body>
</html>